@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

.sr-only {
  width: 0;
  height: 0;
  overflow: hidden;
}

main,
section,
.urlbox,
.urlbox a,
.urlbox span {
  display: flex;
  align-items: center;
  justify-content: center;
}
main,
section {
  flex-direction: column;
}

body {
  padding: 0.01px;
  margin: 0.01px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-image: url(UkraineFemaleSoliderWithFlower.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main {
  width: min(95vw, 120vh);
  border-radius: 2rem;
  background: linear-gradient(180deg, #005bbb4d 0%, #005bbb4d 50%, #ffd5004d 50%, #ffd5004d 100%);
  margin: 1rem auto;
  padding-block: 2rem;
}

header {
  width: min(80vw, 100vh);
  background: #0003;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: #fff;
}
header h1,
header p {
  margin: 0;
}

header a {
  color: #fff;
  transition: 0.2s ease;
}
header a:is(:hover, :focus-visible) {
  color: #ffd500;
}

section {
  gap: 1rem;
}

.urlbox {
  border-radius: 0.5rem;
  background-color: #005bbb;
  width: min(80vw, 100vh);
  transition: 0.2s ease;
  color: #fff;
  position: relative;
  font-size: 1.1rem;
}
.urlbox * {
  color: inherit;
}
.urlbox:is(:hover, :focus-visible) {
  transform: scale(1.025, 1.05);
  color: #ffd500;
}

.urlbox img {
  z-index: 50;
  height: 4rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.urlbox .service img {
  background: #fff8;
  border-radius: 0.5rem;
}

.urlbox a:first-child {
  margin-right: auto;
}

.urlbox span {
  text-align: center;
  text-decoration: none;
  position: absolute;
  inset: 0;
}

.urlbox .twitter {
  transition: 0.2s ease;
}
.urlbox .twitter:is(:hover, :focus-visible) {
  transform: scale(1.1);
}
.urlbox .twitter img {
  background: #fff8;
  border-radius: 0.5rem;
}
